<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="A fully decentralized protocol (Wingsswap) for automated liquidity provision using smart contracts."
    />

    <link rel="apple-touch-icon" sizes="180x180" href="%PUBLIC_URL%/images/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="%PUBLIC_URL%/images/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="%PUBLIC_URL%/images/favicon-16x16.png" />
    <link rel="manifest" href="%PUBLIC_URL%/site.webmanifest" />

    <title>Wingswap</title>

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=DM+Mono:wght@400;500&display=swap" rel="stylesheet" />

    <%
      if (!!htmlWebpackPlugin.options.gtagId) {
        const gtagId = htmlWebpackPlugin.options.gtagId;
    %>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=<%= gtagId %>"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
          dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', "<%= gtagId %>");
      </script>
    <% } %>

    <%
      for (var i=0; i<htmlWebpackPlugin.options.cdnPaths.length; i++) {
        const cdnPath = htmlWebpackPlugin.options.cdnPaths[i];
    %>
      <script crossorigin="anonymous" src="<%= cdnPath %>"></script>
    <% } %>
  </head>

  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
  </body>
</html>
